.主体 {
    background-color: white;
    border: transparent solid 1px;
    border-radius: 30px;
    margin-top: 15px;
}


/* 头栏 */

.a {
    height: 43px;
}

.a ul {
    padding-top: 12px;
}

.a ul li:nth-child(n) {
    margin: 0 4px;
    font: 500 12px 微软雅黑;
    color: rgb(0, 0, 0);
}

.a ul li span {
    font-size: 14px;
}


/* 下拉框减少代码量方式 */

.a ul li div ul li {
    display: block;
}

.下拉框-父亲 {
    position: relative;
}


/* 高度自己控制 */

.下拉框-div {
    display: none;
    position: absolute;
    top: 16px;
    left: -4px;
    background-color: rgb(211, 195, 195);
    border: transparent solid 0px;
    border-radius: 10px;
    padding-left: 0px;
    overflow: auto;
    overflow-x: hidden;
}

.下拉框-width-ul {
    width: 80px;
}


/* ////////////////中部b///////////////////// */


/* 两侧空白 */

.b {
    height: 80px;
    /* background-color: #fff; */
}

.b .b-logou {
    display: inline-block;
    height: 100%;
}

.b .b-logou a {
    background-color: rgb(209, 113, 113);
    text-align: center;
    padding-top: 4px;
}

.b .b-logou a .wen {
    display: inline;
    width: 80px;
}

.b .b-logou1 {
    display: inline-block;
    height: 100%;
    width: 1240px;
    box-sizing: border-box;
    margin-left: 45px;
}


/* 所有的a */

.b .b-logou1 a {
    display: inline-block;
    height: 100%;
    width: 209px;
    border: #fff 2px solid;
    border-radius: 20px;
    margin-right: 30px;
    box-sizing: border-box;
}

.b .b-logou1 a .tex {
    text-align: center;
    vertical-align: 15px;
    margin-left: 8px;
}

.b .b-logou1 a .b-logou1-xiaotu {
    margin: 5px 0 0 30px;
}


/* a下的所有div */

.b .b-logou1 a div {
    display: inline-block;
}

.b .b-logou1:nth-child(n) {
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.b .b-logou1 a:nth-child(n) {
    background-image: url(./images/img.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/* *******C********* */

.c ul {
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

.c ul .logo {
    background-color: red;
    float: left;
    font-family: "方正舒体";
}

.c ul .shousuo {
    margin: 0 auto;
}

.c ul .shousuo ul {
    border: red 2px solid;
    border-radius: 20px;
}


/* 搜索框 input */

.c ul .shousuo:nth-child(2) ul input {
    height: 45px;
    width: 620px;
    font-size: 20px;
    border: none;
    outline: none;
    vertical-align: middle;
}


/* 搜索按钮 */

.c ul .shousuo:nth-child(2) ul button {
    font-size: 22px;
    border-radius: 7px;
    background-color: rgb(255, 66, 66);
    vertical-align: middle;
}

.c ul .shousuo:nth-child(2) div a {
    font-size: 16px;
}

.c ul .二维码 {
    vertical-align: top;
    float: right;
}


/* 增加的文字  push 增加的文字 增加的文字 增加的文字*/

.push {
    margin: 15px auto;
}

.push p {
    display: inline;
}

.push p:nth-child(1) {
    font: 800 30px 方正舒体;
    margin-left: 55px;
    margin-right: 80px;
}

.push p:nth-child(n+2) {
    font-size: 20px;
    margin-right: 20px;
}


/* *******D********* */

.d .d-zuoce {
    display: inline-block;
    vertical-align: text-top;
    margin-left: 5px;
    border: transparent solid 1px;
    border-radius: 10px;
}

.d .d-zuoce ul li {
    height: 20px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
}

.d .d-zuoce ul li:nth-child(n) {
    margin-top: 6px;
}

.d .d-zuoce ul li span {
    display: inline-block;
    margin: 0 20px;
    width: 13px;
    height: 18px;
}


/* 中部的一大块 */

.d .d-zhong {
    vertical-align: top;
    display: inline-block;
    margin-left: 25px;
}

.d .d-zhong .d-lun {
    height: 340px;
    width: 600px;
    position: relative;
}

.d .d-zhong .d-lun img {
    border: transparent solid 1px;
    border-radius: 10px;
}


/* 左右两个箭头 */

.d .d-zhong .d-lun .lenft_fat,
.d .d-zhong .d-lun .right_fat {
    /* display: none; */
    position: absolute;
    border: transparent solid 2px;
    width: 25px;
    top: 50%;
    background-color: rgb(236, 236, 236);
}

.d .d-zhong .d-lun .lenft_fat {
    border-radius: 0 20px 20px 0;
    left: 1px;
}

.d .d-zhong .d-lun .right_fat {
    border-radius: 20px 0 0 20px;
    right: -1px;
}


/* 下面的圈圈 */

.d .d-zhong .d-lun ul {
    position: absolute;
    left: 40%;
    bottom: 5px;
}

.d .d-zhong .d-lun ul li {
    border: 1px #fff solid;
    width: 14px;
    height: 12px;
    border-radius: 50%;
    margin-left: 5px;
    background-color: white;
}


/* 轮换图下的一行文字 */

.d .d-zhong .d-lun-wenzi {
    margin: 8px 0;
}

.d .d-zhong .d-lun-wenzi p {
    display: inline;
    font-size: 20px;
}

.d .d-zhong .d-lun-wenzi p:nth-child(1) {
    color: red;
}

.d .d-zhong .d-lun-wenzi .wen3 {
    float: right;
    margin-right: 10px;
}


/* 中间下面最后两个图片 */

.d .d-zhong .d-xia .d-lun-A,
.d .d-zhong .d-xia .d-lun-B {
    display: inline-block;
    position: relative;
    height: 160px;
    width: 49%;
}

.d .d-zhong .d-xia div:nth-child(n) img {
    border: transparent solid 1px;
    border-radius: 10px;
}


/* 两个箭头 */

.d .d-zhong .d-xia .d-lun-A .lenft_fat,
.d .d-zhong .d-xia .d-lun-B .right_fat {
    display: none;
    position: absolute;
    border: transparent solid 2px;
    width: 25px;
    top: 50%;
    background-color: rgb(236, 236, 236);
}

.d .d-zhong .d-xia .d-lun-A .lenft_fat {
    border-radius: 0 20px 20px 0;
    left: 1px;
}

.d .d-zhong .d-xia .d-lun-B .right_fat {
    border-radius: 20px 0 0 20px;
    right: -1px;
}


/* d的 右侧部分   右侧部分   右侧部分    右侧部分 */

.d .d-youce {
    width: 470px;
    display: inline-block;
    vertical-align: text-top;
    /* 盒子间的间隔 */
    margin-left: 40px;
    border: transparent solid 1px;
    border-radius: 10px;
    background-color: rgba(187, 181, 181, 0.5);
}


/* 头像  和昵称*/

.d .d-youce .d-1 .geren img {
    border: transparent 1px solid;
    border-radius: 50%;
    margin: 5px 40% 0 40%;
}

.d .d-youce .d-1 .geren p {
    width: 90px;
    margin: 5px 40% 5px 40%;
}


/* 购物车等一些东西 d-1   整体居中 在加上左右间隔*/

.d .d-youce .d-1 .goumai {
    text-align: center;
}

.d .d-youce .d-1 .goumai ul li {
    margin: 0 10px;
}

.d .d-youce .d-1 .goumai ul li a h6,
.d .d-youce .d-1 .goumai ul li a p {
    font-size: 20px;
}


/* d-2 */

.d .d-youce .d-2 {
    margin-top: 10px;
    position: relative;
}

.d .d-youce .d-2 img {
    border: transparent 1px solid;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
}

.d .d-youce .d-2 ul {
    position: absolute;
    bottom: 5%;
    right: 45%;
    border: solid transparent 1px;
    border-radius: 10px;
    width: 35px;
    background-color: rgb(153, 153, 153);
    text-align: center;
}

.d .d-youce .d-2 ul li {
    border: transparent solid 1px;
    border-radius: 50%;
    background-color: white;
    width: 10px;
    height: 10px;
}


/* d-3 d-3 d-3 只有加粗的公告 d-3 d-3 d-3 */

.d .d-youce .d-3 {
    margin: 8px 0;
    font-size: 20px;
}


/* d-4 d-4 d-4 d-4 d-4 d-4 d-4  */

.d .d-youce .d-4 div {
    font-size: 15px;
    margin-top: 5px;
}

.d .d-youce .d-4 div p {
    display: inline;
}

.d .d-youce .d-4 div p:nth-child(1) {
    margin-right: 23px;
    border: transparent solid 1px;
    border-radius: 8px;
    background-color: rgb(245, 217, 222);
    color: red;
}


/* d-5 d-5 d-5 d-5  d-5 d-5 d-5 d-5 d-5 d-5 d-5 d-5*/

.d .d-youce .d-5 ul {
    text-align: center;
    margin-top: 30px;
}

.d .d-youce .d-5 ul li {
    margin-left: 35px;
}

.d .d-youce .d-5 ul li:nth-child(n) span {
    font-size: 30px;
}

.d .d-youce .d-5 ul li:nth-child(n) a:hover {
    color: #fff;
    background: none;
}


/* ********************e************** */

.e ul {
    margin: 0 auto;
    margin-top: 20px;
}

.e ul>li {
    margin-left: 6px;
}

.e ul li:nth-child(n+2) {
    margin-left: 47px;
}

.e ul li a {
    width: 230px;
    height: 90px;
    display: inline-block;
    position: relative;
    border: transparent 0px solid;
    border-radius: 20px;
    color: rgb(248, 113, 113);
}

.e ul li a:hover {
    color: white;
}

.e ul li a img {
    position: absolute;
    left: 140px;
    top: 5px;
    border: white 2px solid;
    border-radius: 15px;
    width: 78px;
    height: 78px;
}

.e ul li a div {
    margin-top: 28px;
    margin-left: 17px;
}


/* *********************ffff**************** */

.f {
    margin: 15px 0;
    /* padding-bottom: 15px; */
}

.f .f-wenzi p:nth-child(1) {
    display: inline-block;
    font: 700 20px "宋体";
    margin-left: 18px;
}

.f .f-wenzi p:nth-child(2) {
    background-color: rgb(126, 126, 231);
    display: inline-block;
    font-size: 15px;
    margin-left: 16px;
}

.f ul {
    margin-top: 15px;
    text-align: center;
}

.f ul li a {
    display: inline-block;
    width: 250px;
    height: 250px;
    margin: 0 10px 0 10px;
    border: transparent solid 0px;
    border-radius: 20px;
    color: rgb(248, 113, 113);
    font-size: 18px;
}

.f ul li a:hover {
    color: white;
}

.f ul li a div {
    margin-top: 80%;
}


/* GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG */


/* 文字部分 */

.g div:nth-child(n) p {
    display: inline-block;
    margin: 0 0 15px 18px;
}

.g div:nth-child(1) p:nth-child(1) {
    font: 700 20px "宋体";
}

.g div:nth-child(1) p:nth-child(2) {
    background-color: rgb(126, 126, 231);
    font-size: 15px;
}


/* 下面的图片部分 */

.g div:nth-child(n+2):hover {
    background-color: rgb(195, 192, 192);
    border: transparent 0px solid;
    border-radius: 10px;
}

.g div:nth-child(n+2) {
    display: inline-block;
    width: 245px;
    margin-top: 2px;
    margin-left: 20px;
}

.g div:nth-child(n+2) a:hover {
    background: none;
    color: rgb(0, 0, 0);
}

.g div:nth-child(n+2) a img {
    border: solid transparent 0px;
    border-radius: 15px;
    width: 100%;
    height: 245px;
}

.g div:nth-child(n+2) a p:nth-child(2),
.g div:nth-child(n+2) a p:nth-child(3) {
    background-color: red;
    font: 700 15px 宋体;
    margin: 1px;
    border: 0px solid;
    border-radius: 4px;
}

.g div:nth-child(n+2) a p:nth-child(n+4) {
    margin: -1px;
    display: inline;
}

.g div:nth-child(n+2) a p:nth-child(n+5) {
    color: red;
}


/* **************END***************** */

.END p {
    text-align: center;
    margin: 15px 0;
}


/* g-2  */

.g-2 .g-2-a {
    width: 17%;
    display: inline-block;
    background-color: rgb(207, 207, 207);
    height: 80px;
    vertical-align: top;
    margin-left: 70px;
    border: solid 0px transparent;
    border-radius: 20px;
}

.g-2 .g-2-a h4 .iconfont {
    font-size: 30px;
    width: 30px;
    height: 30px;
    margin: 0 10px 0 7px;
}

.g-2 .g-2-a ul li:nth-child(n+2) {
    margin-left: 10px;
}

.客体 {
    border: transparent solid 0px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    height: 200px;
}


/* HHHHHHHHHHHHHHHHHHHHHH */

.客体 {
    margin-top: 15px;
}

.h .h-wen a {
    margin: 0 10px 0 0;
}


/******* dinwei******* */

.juedui-r {
    position: fixed;
    width: 40px;
    right: 132px;
    top: 566px;
    border: hotpink solid 3px;
    border-radius: 15px;
    background-color: rgb(179, 171, 172);
}

.juedui-r li {
    margin-top: 3px;
}

.juedui-r li:nth-child(3) {
    margin-bottom: -22px;
    display: none;
}

.juedui-r li a {
    display: inline-block;
    height: 50px;
    width: 100%;
    margin-top: 1px;
}

.juedui-r li a:hover {
    background: none;
    color: red;
    font-size: 18px;
}

.主体 .c ul .shousuo .我要飞 {
    position: fixed;
    width: 100%;
    background: white;
    z-index: 999;
    left: 0;
    top: 0;
}

.主体 .c ul .shousuo .我要飞 ul {
    width: 50%;
    margin: 0 auto;
}