.a {
    width: 800px;
    height: 1000px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    padding-top: 230px;
}

.a div:nth-child(n) {
    margin-top: 50px;
    width: 100%;
}

.a div:nth-child(n) p {
    color: red;
    font: 800 40px 宋体;
    display: inline;
}

.a div:nth-child(n) input {
    width: 272px;
    height: 32px;
    font-size: 27px;
    outline: none;
    vertical-align: top;
}

.a div:nth-child(4) button {
    outline: none;
    width: 130px;
    height: 60px;
    margin-left: 20px;
}